- if @event_user.event_questions.include? @event_question
  %p
    =image_tag asset_path('star.png')
    %b You are already corrected this question.
%p
  %b Question:
  = @event_question.question.name
%p
  %b Genre:
  = @event_question.question.genre.name
%p
  %b Point:
  = @event_question.point
%p
  %b Description:
  = @event_question.question.description

= simple_form_for @event_question, url: event_question_answer_url do |f|
  = f.error_notification

  .form-inputs
    = f.input :answer, label: 'Your answer'

  .form-actions
    = f.button :submit
