
%table.table.table-bordered.table-striped
  %tr
    %th Event Name
    %th Description
    %th Start
    %th End
    %th

  - @events.each do |event|
    %tr
      %td
        = link_to event.name, event
      %td= event.description
      %td= event.start_datetime
      %td= event.end_datetime
      %td
        = @user
        = link_to 'join', event, :class => 'btn btn-primary'
        = link_to 'go', event, :class => 'btn btn-primary'

